*{
  margin: 0px;
  padding: 0px;
}


.navBar {
  background-color: red;
  height: 60px;
  display: flex;
}

.navBtnOpen {
  background-color: transparent;
  margin-left: 30px;
  height: 40px;
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  border-radius: 50%;
}


img {
  margin: auto;
  width: 20px;
  height: 15px;

}

.navBtnOpen:hover {
  cursor: pointer;
}